* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWidth {
  width: 1120px;
  margin: 0 auto;
}
.fullWidth {
  width: 100%;
}
.fullWidth.blue {
  background-color: blue;
}
.contentBlock {
  padding-bottom: 40px;
}
.headerArea--normal {
  padding: 40px 0;
}
.headerArea--normal .headerArea__mainHeading {
  font-weight: bold;
  font-size: 2.6rem;
  border-left: 8px solid red;
  line-height: 1;
  padding-left: 12px;
}
.contentArea--normal {
  padding-bottom: 40px;
}
.header {
  background-color: #333;
}
.header .header__content {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .header__content .mainmenu__nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  padding: 30px 0;
  list-style-type: none;
}
.header .header__content .mainmenu__nav ul li a {
  color: white;
  text-decoration: none;
}
.header .header__content .mainmenu__nav ul li + li {
  margin-left: 40px;
}
.header__searchbox {
  display: flex;
  align-items: center;
}
.footer {
  margin-top: auto;
  background-color: #333;
  padding-bottom: 20px;
}
.footer .submenu__nav ul {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  padding: 30px 0;
  list-style-type: none;
}
.footer .submenu__nav ul li a {
  color: white;
  text-decoration: none;
}
.footer .submenu__nav ul li + li {
  margin-left: 40px;
}
.footer .address {
  color: white;
  text-align: center;
}
.breadcrumb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.breadcrumb ul li {
  display: inline-block;
}
.breadcrumb ul li + li:before {
  content: " > ";
}
.archive__item {
  display: flex;
}
.archive__item + .archive__item {
  margin-top: 40px;
}
.archive__item .archive__thumb {
  width: 200px;
  height: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}
.archive__item .archive__thumb img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.archive__item .archive__infomation {
  background-color: #f1f1f1;
  padding: 20px;
  flex-flow: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.archive__item .archive__infomation .archive__heading {
  font-size: 2rem;
  font-weight: bold;
}
.archive__item .archive__infomation .archive__heading a {
  color: #333;
}
.archive__item .archive__infomation .archive__data {
  text-align: right;
}
.archiveItem__table {
  width: 100%;
  border-collapse: collapse;
}
.archiveItem__table td {
  border: 1px solid black;
  padding: 10px;
}
.singleItem__table {
  border-collapse: collapse;
}
.singleItem__table td, .singleItem__table th {
  padding: 10px;
  border: 1px solid black;
}
.singleItem__table th {
  white-space: nowrap;
}
.single__thumb img {
  max-width: 100%;
  height: auto;
}
.single__mainText {
  margin-top: 20px;
}
.single__data {
  margin: 20px 0 0 auto;
  display: table;
}
/*# sourceMappingURL=style.css.map */