* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWidth {
  width: 1120px;
  margin: 0 auto;
}

.fullWidth {
  width: 100%;
  &.blue {
    background-color: blue;
  }
}

.contentBlock {
  padding-bottom: 40px;
}

.headerArea--normal {
  padding: 40px 0;
  .headerArea__mainHeading {
    font-weight: bold;
    font-size: 2.6rem;
    border-left: 8px solid red;
    line-height: 1;
    padding-left: 12px;
  }
}
.contentArea--normal {
  padding-bottom: 40px;
}
